* {
	margin: 0px;
	box-sizing: border-box;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

header {
	min-height: 150px;
	background-color: darkviolet;
}

main {
	min-height: 700px;
	background-color: lightgrey;
}

footer {
	height: 100px;
	background-color: skyblue;
}

.row:after {
	content: "";
	display: block;
	clear: both;
}

.grid > .clmn {
	height: 1060px;
	width: 7.33%;
	margin-left: 0.5%;
	margin-right: 0.5%;
	background-color: #EFEFEF;
	opacity: 0.4;
	padding-top: 530px;
	text-align: center;
	float: left;
}

.grid {
	position: relative;
	top: -960px;
}

/*desktop-default-widths*/
@media only screen and (min-width: 769px) {
	.col-lg-1 { width: 8.33%; }
	.col-lg-2 { width: 16.66%; } /*don't round up*/
	.col-lg-3 { width: 25%; } /*round this up*/
	.col-lg-4 { width: 33.33%; }
	.col-lg-5 { width: 41.66%; }
	.col-lg-6 { width: 50%; }
	.col-lg-7 { width: 58.33%; }
	.col-lg-8 { width: 66.66%; }
	.col-lg-9 { width: 75%; }
	.col-lg-10 { width: 83.33%; }
	.col-lg-11 { width: 91.66%; }
	.col-lg-12 { width: 100%; }
}

/*tablets*/
@media only screen and  (min-width: 451px) and (max-width: 768px) {
	.col-md-1 { width: 8.33%; }
	.col-md-2 { width: 16.66%; } /*don't round up*/
	.col-md-3 { width: 25%; } /*round this up*/
	.col-md-4 { width: 33.33%; }
	.col-md-5 { width: 41.66%; }
	.col-md-6 { width: 50%; }
	.col-md-7 { width: 58.33%; }
	.col-md-8 { width: 66.66%; }
	.col-md-9 { width: 75%; }
	.col-md-10 { width: 83.33%; }
	.col-md-11 { width: 91.66%; }
	.col-md-12 { width: 100%; }

}

/*mobile*/
@media only screen and  (max-width: 451px) {
	.col-sm-1 { width: 8.33%; }
	.col-sm-2 { width: 16.66%; } /*don't round up*/
	.col-sm-3 { width: 25%; } /*round this up*/
	.col-sm-4 { width: 33.33%; }
	.col-sm-5 { width: 41.66%; }
	.col-sm-6 { width: 50%; }
	.col-sm-7 { width: 58.33%; }
	.col-sm-8 { width: 66.66%; }
	.col-sm-9 { width: 75%; }
	.col-sm-10 { width: 83.33%; }
	.col-sm-11 { width: 91.66%; }
	.col-sm-12 { width: 100%; }

}

[class*=col] { /*attribute selector with wildcad, it selects ALL elements that has a class with the word "col" in it.*/
	float: left;
	box-sizing: border-box;
}

.left {
	height: 700px;
}

.right {
	height: 350px;
}
